{% extends "base.html" %}

{% load static %}
{% load wwwtags %}

{% block content %}
Drogi użytkowniku {{ user.first_name }} {{ user.last_name }}, twoje konto jest nieaktywne. Możesz je aktywować klikając w link wysłany na adres który podałeś przy rejestracji.<br>
    Jeśli wiadomośc do ciebie nie dotarła, sprawdź folder ze spamem, lub ponów jej wysłanie używająć
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Wyślij ponownie</button>
    </form>
    Jeśli pomimo to nie jesteś w stanie się zarejestrować,
    skontaktuj się z organizatorami drogą mailową.
{% endblock %}